---
layout: default
---
<header>
  <h1>{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<p class="minifooter" id="minifooter"></p>

<script>
  const lines = [
    "Quero me embriagar até que alguém me esqueça",
    "Deixa o meu amor acidente sangrar!",
    "Morreu na contramão atrapalhando o tráfego",
    "Vou fazer uma macumba pra te amarrar, maldito!",
    "E dói demais, queima minha pele e não é bonito...",
    "Quando eu te quis, me tratou como uma qualquer",
    "Tudo que eu sempre sonhei, tanto que eu consegui",
    "Se o diabo me tromba ele se treme todo, não tem ninguém com mais demônios que eu",
    "Pensei que mandar um poema daria o tom",
    "É puro meu amor e sincero, não tem lero-lero.",
    "Não entra na bad Romeu, Julieta morreu, mas a gente voltou!",
    "Deixa eu ficar na tua vida, morar dentro da concha",
    "Sem mais, a vida vai passando no vazio, estou com tudo a flutuar no rio...",
    "Quero saber se você vai correr atrás de mim no aeroporto",
    "Me deixa ser a pausa da sua tristeza",
    "Então só foi um samba triste...",
    "Alô, Foucault, cê quer saber o que é loucura?",
    "Eu não posso causar mal nenhum, a não ser a mim mesmo!",
    "Mas quando a vida acabar, ainda vai querer ir pro mesmo lugar onde eu vou?",
    "Tô entre tirar sua roupa e tirar minha vida...",
    "Venha o vento que houver e, se puder, voa!",
    "Todo dia ela faz tudo sempre igual, me sacode às seis horas da manhã",
  ];

  document.getElementById("minifooter").textContent =
    lines[Math.floor(Math.random() * lines.length)];
</script>
