---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>
  
  {%- if page.song_link -%}
    <p  class="post-content">
      Today's song recommendation is:
      <a target="_blank"
         rel="noopener noreferrer"
         href="{{ page.song_link }}"
         class="tooltip-src"
         data-tip="Opens in a new tab"
      >{{ page.song_name }}<a>
      by {{ page.song_author }}!
    </p>
    <div id="follow-tooltip"></div>
    <script src="/assets/js/tooltip.js"></script>
    <hr />
  {%- endif -%}

  <span class="post-content">{{ content }}</span>
</article>